.slider {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    width: calc(200px * 7); /* Duplica el número de slides */
    animation: scroll 40s linear infinite;
    align-items: center;
}

.slider .slide {
    width: 200px;
    filter:grayscale(1);
    opacity: 0.6;
    
}

.slider .slide img {
    width: 85px;
    margin: 0 20px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}